
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-color: #36374C;
    --second-bg-color: #849873;
    --text-bg-color: #613942;
    --main-bg-color: #E8DBCB;
}

*{
    font-family: 'Comforta' , cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection{
    background: var(--main-bg-color);
    color: #fff;
}

body{
    height: 200rem;
}
section{
    padding: 2rem 9%;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-behavior: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #fafafa;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-bg-color);
    border-radius: 5rem;
}

body{
    height: 200rem;
    border-radius: 5rem;
}

/*-------------------Header start-----------*/

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0rem .1rem .5rem rgb(0, 0, 0, .1);
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.header .logo span{
    color: var(--main-bg-color);
    text-transform: uppercase;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 3rem;
}

.header .navbar a:hover{
    color: var(--text-bg-color);
}

.header .icons div{
    font-size: 2.5rem;
    color: var(--text-bg-color);
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem ;
}

.header .icons div:hover{
    transform:rotate(180deg);
    translate: -50%;
    transition: 2s;
    color: var(--second-bg-color);

}
.header .icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background: var(--main-bg-color);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
    border-radius: 3rem;
}

.header .icons a:hover{
    color: var(--main-bg-color);
    background: #fff;
}

#menu-btn{
    display: none;
}

.header.active{
    padding: 2rem 9%;
    background: var(--main-bg-color);
}

/*-------------------Header end-----------*/




/*------------------ Homepage Section started------*/

.btn{
    margin-top: 1rem ;
    display: inline-block;
    padding: .9rem 3rem;
    background: var(--main-bg-color);
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.7rem;

}

.btn:hover{
    background: var(--bg-color);
    color: #fff;
    letter-spacing: .1rem;
}

.home{
    padding: 0%;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important ;
    background-position: center !important;
}

.home .home-slider .box .content{
    text-align: center;
    max-width: 70rem;    
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
   transition-delay: .2s;
}

.home .home-slider .box .content p{
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    padding-top: 1rem 0;
    transition-delay: .4s;

}

.home .home-slider .box .button .btn-1{
    background: var(--main-bg-color);
    color: #fff;
    margin-right: .5rem;

}

.home .home-slider .box .button .btn-1:hover{
    background: var(--main-bg-color);
    color: var(--text-bg-color);
}

.home .home-slider .box .button {
    transition-delay: .6s ;
}
.home .home-slider .box .content > *{
    transform: translateY(2rem);
    /*opacity: 0;*/
}

.home .home-slider .swiper-slide-active .content >*{
    transform: translateY(0);
}
/*------------------ Homepage Section end--------*/


/*---------------Heading Start -------------*/

.heading{
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: var(--text-bg-color);
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--main-bg-color);
}


.feature .feature-slider{
padding-bottom: 4rem;
}

.feature .feature-slider .box{
position: relative;
text-align: center;
overflow:hidden;
margin: 1 rem 0;
}

.feature .feature-slider .box .image{
height: 40rem;    
width: 100%;
overflow: hidden;
}

.feature .feature-slider .box .image .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature .feature-slider .box:hover .image .img{
    transform: scale(0.7);
}

.feature .feature-slider .box .content h3{
    font-size: 2rem;
    font-weight: bold;
    color: #613942;
    text-transform: uppercase;
    background: var(--main-bg-color);
    padding: .2rem;
    margin-top: .5rem;
}


.feature .feature-slider .box .content{
    padding: 1rem 0;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%,-50%);
    margin-top: .5rem;
    align-items: center;
}

.feature .feature-slider .box .content .price{
width: 10rem;
height: 10rem;
line-height: 10rem;
border-radius: 50%;
text-align: center;
margin: auto;
background: var(--main-bg-color);
font-size: 2rem;
font-weight: bolder;
color: #fff;
}

.feature .feature-slider .box:hover .content .price{
    background: none;
    border: .3rem solid #fff;
}


/*---------Shedule section start-------*/

.schedule{
    background: #eee;    
}

.schedule .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding-top: 2rem;
    padding-bottom: 5rem;    
}

.schedule .box-container .box{
    background: #fff;
    overflow: hidden;

}

.schedule .box-container .box .content{
    padding: 2rem;
}

.schedule .box-container .box .content h3{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 5rem;

}
.schedule .box-container .box .content p{
    color: #333;
    font-size: 1.5rem;
    line-height: 1.8;
}

.schedule .box-container .box .icons{
    padding: 0 2rem;
}

.schedule .box-container .box .icons span{
    display: block;
    font-size: 1.3rem;
    color: #333;
    padding: .3rem 0; 

}

.schedule .box-container .box .icons span i{
    margin-right: .5rem;
}


.schedule .box-container .box .btn{
    margin: 1.5rem 2rem;
    background: var(--main-bg-color);
    color: #849873;
}

.schedule .box-container .box .btn:hover{
    background: var(--bg-color);
    color: #fff;
}



.schedule .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/*--------------Trainer start---------------*/

.trainers .trainer-slider{
    padding-top: 4rem;
}

.trainers .trainer-slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;

}


.trainers .trainer-slider .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;

}


.trainers .trainer-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trainers .trainer-slider .box .name{
    padding: 2rem 0;
}

.trainers .trainer-slider .box .name h1{
    font-size: 3rem;
    color: #333;
    font-weight: 500;

}
.trainers .trainer-slider .box .name p{
    font-size: 1.5rem;
    color: #849873;
}



/*------Footer starts------*/
.footer{
    background: var(--bg-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1rem;

}

.footer .box-container .box .text{
    font-size: 1.3rem ;
    font-weight: normal;
    line-height: 1.8;
    color: #fff;
    padding-bottom: 1rem;
}

.footer .box-container .box .icon{
    padding: 1rem 0;
}

.footer .box-container .box .icon a i{
height: 5rem;
width: 5rem;
line-height: 5rem;
background: var(--main-bg-color);
text-align: center;
font-size: 2rem;
border-radius: 50%;
margin: 0.5rem;
color: #eee;
}

.footer .box-container .box .icon a i:hover{
    color: var(--main-bg-color);
    background: none;
    border: .2rem solid var(--main-bg-color);
}

.footer .box-container .box .icons a {
    display: block;
    color: #eee;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.footer .box-container .box .icons a i{
    margin-right: .5rem;
    color: var(--main-bg-color);
}

.footer .box-container .box .icons a:hover i{
    padding-right: 2rem ;
    color: #eee;
}

.footer .box-container .box .icons a:hover{
    color: var(--second-bg-color);
}




